@use '../abstracts/variables';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    @media only screen and (max-width: 900px) {
        border-top: 1px solid rgb(227, 227, 227);
    }

    &__p {
        font-size: 1.4rem;
        font-weight: 500;
        font-family: variables.$font-1;
        margin: 0;
    }

    &__button {
        background-color: rgb(255, 53, 54);
        border: none;
        padding: 1rem 1.5rem;
        color: white;
        border-radius: 0.2rem;
        font-size: 0.9rem;
        cursor: pointer;
    }
}
